In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import sklearn

In [4]:
import seaborn as sns
%matplotlib inline

In [6]:
data = pd.read_csv('Orange_Telecom_Churn_Data.csv')

In [7]:
data.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [8]:
data.shape

(4000, 21)

In [9]:
data.columns

Index(['state', 'account_length', 'area_code', 'phone_number', 'intl_plan',
       'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'churned'],
      dtype='object')

In [10]:
data.describe()

,account_length,area_code,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,100.856250,437.301750,8.051500,180.147150,100.259250,30.625570,200.80115,100.13475,17.068300,201.069275,100.212500,9.048202,10.267075,4.459500,2.772637,1.556750
std,39.589493,42.437748,13.661204,54.399753,19.995274,9.247926,50.56086,19.85562,4.297672,50.724508,19.775505,2.282631,2.772431,2.465843,0.748482,1.306027
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.900000,87.000000,24.460000,166.57500,87.00000,14.157500,167.300000,87.000000,7.530000,8.500000,3.000000,2.300000,1.000000
50%,100.000000,415.000000,0.000000,179.750000,101.000000,30.560000,201.10000,100.00000,17.090000,200.950000,100.000000,9.045000,10.350000,4.000000,2.795000,1.000000
75%,127.000000,510.000000,19.000000,216.200000,114.000000,36.750000,234.90000,114.00000,19.970000,235.525000,114.000000,10.600000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,351.500000,165.000000,59.760000,363.70000,170.00000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [11]:
data['voice_mail_plan']=data['voice_mail_plan'].map({'yes':1,
                              'no':0})
required_features = ['account_length','voice_mail_plan','number_vmail_messages','total_day_minutes','total_night_minutes','number_customer_service_calls']

In [12]:
train_data = data[required_features]

In [13]:
train_data.head()

,account_length,voice_mail_plan,number_vmail_messages,total_day_minutes,total_night_minutes,number_customer_service_calls
0,128,1,25,265.1,244.7,1
1,107,1,26,161.6,254.4,1
2,137,0,0,243.4,162.6,0
3,84,0,0,299.4,196.9,2
4,75,0,0,166.7,186.9,3

In [14]:
test_data  = data.iloc[:,20]

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x , x_test ,y , y_test = train_test_split(train_data,test_data,random_state = 0,test_size=0.2)

In [18]:
classifier = KNeighborsClassifier(n_neighbors = 10 , p=2, metric ='euclidean'  )

In [19]:
classifier.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [20]:
y_pred = classifier.predict(x_test)

In [21]:
y_pred

array([False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [22]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [23]:
cn   = confusion_matrix(y_test,y_pred)

In [24]:
cn

array([[678,   8],
       [ 90,  24]], dtype=int64)

In [25]:
accuracy = accuracy_score(y_test,y_pred)

In [26]:
accuracy

0.8775

In [27]:
testing_data = pd.read_csv('Test-Data.csv')

In [28]:
testing_data.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,IL,119,408,363-8175,no,no,0,197.2,111,33.52,...,78,14.29,209.8,84,9.44,4.2,2,1.13,1,False
1,WA,54,415,414-8688,no,yes,28,217.4,98,36.96,...,120,20.93,127.0,92,5.72,7.5,8,2.03,1,False
2,NJ,60,415,354-8492,yes,no,0,97.2,91,16.52,...,93,20.71,235.0,116,10.58,10.1,2,2.73,1,True
3,WI,111,415,373-4947,no,yes,23,87.7,91,14.91,...,118,18.56,173.1,87,7.79,12.3,4,3.32,1,False
4,WV,119,415,406-9868,no,yes,32,186.4,75,31.69,...,92,17.59,150.6,80,6.78,12.1,2,3.27,1,False

In [29]:
testing_data['voice_mail_plan']=testing_data['voice_mail_plan'].map({'yes':1,
                              'no':0})
required_features1 = ['account_length','voice_mail_plan','number_vmail_messages','total_day_minutes','total_night_minutes','number_customer_service_calls']

In [30]:
on_test = testing_data[required_features]

In [33]:
on_test.columns

Index(['account_length', 'voice_mail_plan', 'number_vmail_messages',
       'total_day_minutes', 'total_night_minutes',
       'number_customer_service_calls'],
      dtype='object')

In [38]:
on_test.drop(columns =['voice_mail_plan'],axis=0)

,account_length,number_vmail_messages,total_day_minutes,total_night_minutes,number_customer_service_calls
0,119,0,197.2,209.8,1
1,54,28,217.4,127.0,1
2,60,0,97.2,235.0,1
3,111,23,87.7,173.1,1
4,119,32,186.4,150.6,1
...,...,...,...,...,...
995,50,40,235.7,297.5,2
996,152,0,184.2,213.6,3
997,61,0,140.6,212.4,1
998,109,0,188.8,224.4,0
999,86,34,129.4,154.8,0

In [41]:
new_pred =classifier.predict(on_test)

In [57]:
submission = pd.DataFrame({'phone_number':testing_data['phone_number'],
                           'churned':new_pred})

In [58]:
submission

    phone_number  churned
0       363-8175    False
1       414-8688    False
2       354-8492    False
3       373-4947    False
4       406-9868    False
..           ...      ...
995     365-8751    False
996     334-9736    False
997     333-6861    False
998     394-2206    False
999     373-8058    False

[1000 rows x 2 columns]